@media(min-width:350px){
    textarea{
        height: 20rem;
        width: 70%;
    }
    button{
        width: 6rem;
    }
}

@media(min-width:800px){
    textarea{
        width: 60%;
    }
}

@media(min-width:1100px){
    textarea{
        width: 50%;
    }
}